# Compiler files
cache/
out/

# broadcast files, ignore local deploys
broadcast/*
# ignore versioned deployment files
addresses/**/*.backup.json
addresses/deployed/local.json

# Docs
docs/

# Dotenv file
.env
